:root {
  --Neutral-Black: #1e1e1f;
  --Neutral-Gray-1: #8e8e93;
  --Neutral-Gray-2: #f5f5f7;
  --Neutral-Gray-3: #ededf0;
  --Neutral-White: #fff;

  --Accents-Light-Blue: #86a7f8;
  --Accents-Light-Blue2: #ebf3ff;
  --Accents-Brand-Blue: #356df3;
  --Accents-Green: #0bb867;
  --Accents-Green-Light: #ecfbf0;
  --Accents-Yellow: #ffc623;
  --Accents-Yellow-Light: #fff9e8;
  --Accents-Red: #f54c5f;
  --Accents-Red-2: #ffa6b0;
  --Accents-Red-Light: #ffe9ec;
  --Accents-Orange: #ff6a00;
  --Accents-Orange-Light: #ffe1cc;
}
