@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Bold.eot");
  src:
    local("Satoshi Bold"),
    local("Satoshi-Bold"),
    url("/fonts/Satoshi/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Semibold.eot");
  src:
    local("Satoshi Semibold"),
    local("Satoshi-Semibold"),
    url("/fonts/Satoshi/Satoshi-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Semibold.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Semibold.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Regular.eot");
  src:
    local("Satoshi Regular"),
    local("Satoshi-Regular"),
    url("/fonts/Satoshi/Satoshi-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Light.eot");
  src:
    local("Satoshi Light"),
    local("Satoshi-Light"),
    url("/fonts/Satoshi/Satoshi-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Thin.eot");
  src:
    local("Satoshi Thin"),
    local("Satoshi-Thin"),
    url("/fonts/Satoshi/Satoshi-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Thin.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Thin.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Medium.eot");
  src:
    local("Satoshi Medium"),
    local("Satoshi-Medium"),
    url("/fonts/Satoshi/Satoshi-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-ExtraBold.eot");
  src:
    local("Satoshi ExtraBold"),
    local("Satoshi-ExtraBold"),
    url("/fonts/Satoshi/Satoshi-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Satoshi/Satoshi-ExtraBold.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-ExtraBold.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
